<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1 data-cadastro-titulo>Cadastro de Pet</h1>

<!--formulario que vai enviar os dados com POST-->
<form action="" method="POST" data-cadastro-form>
    <input type="hidden" name="id">

    <label>Nome do pet:</label><br>
    <input type="text" name="nome_pet" required><br><br>

    <label>Data de nascimento:</label><br>
    <input type="date" name="nascimento" required><br><br>

    <label>Nome do tutor(a):</label><br>
    <input type="text" name="tutor" required><br><br>

    <label>Email do tutor(a):</label><br>
    <input type="email" name="email" required><br><br>

    <label>Contato:</label><br>
    <input type="tel" name="contato" required><br><br>

    <label>Endereço:</label><br>
    <input type="text" name="endereco" required><br><br>

    <label>Bairro:</label><br>
    <input type="text" name="bairro" required><br><br>

    <button type="submit">Salvar cadastro</button>

</form>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
