{% extends "base.html" %}

{% block title %}
Cadastro de usuário
{% endblock %}

{% block content %}

<div class="card">

    <h2>Cadastro de usuário</h2>

    <form method="POST">

        <div class="form-group">
            <label>Nome</label>
            <input type="text" name="nome" required>
        </div>

        <div class="form-group">
            <label>E-mail</label>
            <input type="email" name="email" required>
        </div>

        <div class="form-group">
            <label>Senha</label>
            <input type="password" name="senha" required>
        </div>

        <button class="btn btn-primary" type="submit">
            Salvar
        </button>

    </form>

</div>

{% endblock %}