{% extends "base.html" %}

{% block title %}
Ficha
{% endblock %}

{% block content %}

<div class="card">

    <h2>Ficha de registros</h2>

    <br>

    <div class="table-responsive">

        <table>

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>

                {% if registros %}

                    {% for registro in registros %}
                    <tr>

                        <td>{{ registro.id }}</td>
                        <td>{{ registro.nome }}</td>
                        <td>{{ registro.telefone }}</td>

                        <td>

                            <a href="#"
                               class="btn btn-warning">
                                Editar
                            </a>

                            <a href="#"
                               class="btn btn-danger">
                                Excluir
                            </a>

                        </td>

                    </tr>
                    {% endfor %}

                {% else %}

                    <tr>
                        <td colspan="4">
                            Nenhum registro encontrado
                        </td>
                    </tr>

                {% endif %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}