<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<h1>Login</h1>

<form action="/login" method="POST" data-login-form>
    <label>Email:</label><br>
    <input type="email" name="email" placeholder="Digite seu email" required><br><br>

    <label>Senha:</label><br>
    <input type="password" name="senha" placeholder="Digite sua senha" required><br><br>

    <button type="submit">Confirmar</button>
</form>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
