<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Vacinas</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

<h1>Agendamento de Vacina</h1>

<form action="/ficha" method="GET" data-servico-form>
    <label>Vacinas</label><br>
        <select name="servico" required>
            <option value="">Selecione uma vacina</option>
            <option value="Vacina f1">Vacina f1</option>
            <option value="Vacina f2">Vacina f2</option>
            <option value="Vacina f3">Vacina f3</option>
            <option value="Vacina f4">Vacina f4</option>
            <option value="Vacina f5">Vacina f5</option>
        </select>
        <button type="submit">Agendar</button>
</form>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
